*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #ffffff;
}

.navbar {
  display: flex;
  top: 0;
  height: 15vh;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background: #ffffff;
}

.logo {
  width: 50vh;
  cursor: pointer;
}

.logo img {
  width: 25%;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  padding: 10px;
  list-style: none;
}

.nav-link {
  color: #000000;
  text-decoration: none;
  font-size: 1.3rem;
  font-family: 'Kalam', Courier, monospace;
  text-transform: uppercase;
  color: #00788b;
}

.hamburger {
  display: none;
  padding: 5px;
  cursor: pointer;
}

.bar1,.bar2,.bar3 {  
  display: block;  
  width: 35px;  
  height: 3px;  
  margin: 5px auto;  
  background-color: #000000;  
  transition: 0.4s;  
}

main {
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  background-image: url(images/geobackground.jpg);
  background-size: cover;
  width: auto;
  margin-bottom: 30px;
  text-align: center;
}

h1 {
  font-size: 4rem;
  font-family: 'Satisfy', Courier, monospace;
  letter-spacing: 10px;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  text-decoration: underline;
  font-family: 'Kalam', Courier, monospace;
}

h5 {
  font-size: 1.2rem;
  text-align: center;
  font-family: 'Dancing Script', Courier, monospace;
}

.featured img {
  width: 50%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #000000;
  border-radius: 50px;
}

.cars img {
  width: 50%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #000000;
  border-radius: 50px;
}

.animals img {
  width: 50%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #000000;
  border-radius: 50px;
}

.nature img {
  width: 50%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #000000;
  border-radius: 50px;
}

footer {
  height: 30px;
  background-color: #000000;
  color: #ffffff;
  margin-top: 30px;
}

footer a {
  color: #66e6f9;
  text-decoration: none;
}

footer a:hover {
  color:#5ef6a7; 
  text-decoration:none;
  cursor:pointer;  
}

.gallery {
  width: 85%;
  margin: 2rem auto;
}

.gallery_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/*Featured Gallery Styling*/
.featuredgallery {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 5vw);
  gap: 1.5rem;
}

.featured1 {
  grid-column: 1 / span 3;
  grid-row: 1 / span 8;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.featured2 {
  grid-column: 4 / span 4;
  grid-row: 1 / span 4;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.featured3 {
  grid-column: 4 / span 4;
  grid-row: 5 / span 4;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.featured4 {
  grid-column: 8 / span 3;
  grid-row: 1 / span 8;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*Cars Gallery Styling*/
.carsgallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 5vw);
  gap: 1.5rem;
}

.cars1 {
  grid-column: 1 / span 4;
  grid-row: 1 / span 4;
  box-shadow: rgba(140, 187, 191, 0.786) 5px 5px 30px;
}

.cars2 {
  grid-column: 5 / span 4;
  grid-row: 1 / span 4;
  box-shadow: rgba(91, 129, 144, 0.902) 5px 5px 30px;
}

.cars3 {
  grid-column: 1 / span 4;
  grid-row: 5 / span 4;
  box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 30px;
}

.cars4 {
  grid-column: 5 / span 4;
  grid-row: 5 / span 4;
  box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 30px;
}

.cars5 {
  grid-column: 1 / span 4;
  grid-row: 9 / span 4;
  box-shadow: rgba(177, 172, 14, 0.794) 5px 5px 30px;
}

.cars6 {
  grid-column: 5 / span 4;
  grid-row: 9 / span 4;
  box-shadow: rgba(10, 242, 18, 0.775) 5px 5px 30px;
}

/*Animals Gallery Styling*/
.animalsgallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 5vw);
  gap: 1.5rem;
}

.animals1 {
  grid-column: 1 / 4;
  grid-row: 1 / 4;
  box-shadow: rgba(77, 55, 30, 0.85) 5px 5px 30px;
}

.animals2 {
  grid-column: 4 / 7;
  grid-row: 1 / 9;
  box-shadow: rgba(49, 18, 228, 0.85) 5px 5px 30px;
}

.animals3 {
  grid-column: 7 / 11;
  grid-row: 1 / 4;
  box-shadow: rgba(131, 132, 127, 0.85) 5px 5px 30px;
}

.animals4 {
  grid-column: 1 / 4;
  grid-row: 4 / 9;
  box-shadow: rgba(102, 77, 50, 0.85) 5px 5px 30px;
}

.animals5 {
  grid-column: 6 / 11;
  grid-row: 9 / 13;
  box-shadow: rgba(63, 226, 52, 0.936) 5px 5px 30px;
}

.animals6 {
  grid-column: 1 / 6;
  grid-row: 9 / 13;
  box-shadow: rgba(74, 59, 42, 0.85) 5px 5px 30px;
}

.animals7 {
  grid-column: 7 / 11;
  grid-row: 4 / 9;
  box-shadow: rgba(230, 183, 130, 0.85) 5px 5px 30px;
}

/*Nature Gallery Styling*/
.naturegallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(17, 5vw);
  gap: 1.5rem;
}

.nature1 {
  grid-column: 1 / span 4;
  grid-row: 1 / span 6;
  box-shadow: rgb(202, 39, 247) 5px 5px 30px;
}

.nature2 {
  grid-column: 5 / span 4;
  grid-row: 1 / span 6;
  box-shadow: rgb(243, 14, 14) 5px 5px 30px;
}

.nature3 {
  grid-column: 1 /span 8;
  grid-row: 7 / span 5;
  box-shadow: rgb(18, 99, 45) 5px 5px 30px;
}

.nature4 {
  grid-column: 1 / span 4;
  grid-row: 12 / span 6;
  box-shadow: rgb(15, 224, 85) 5px 5px 30px;
}

.nature5 {
  grid-column: 5 / span 4;
  grid-row: 12 / span 6;
  box-shadow: rgb(128, 129, 128) 5px 5px 30px;
}

@media only screen and (max-width:768px) {

  .navbar {
    height: 10vh;
  }
  
  .logo img {
    width: 8vh;
  }

  .nav {  
    position: absolute;   
    top: 8vh;  
    right: 0px;  
    flex-direction: column;  
    background-color: #000000;  
    border-radius: 10px 0px 0px 10px;  
    transition: transform 0.2s ease-in;  
    transform: translate(100%);
  }

  .nav-link {
    color: #ffffff;
  }

  .nav-change{  
    transform: translate(0%);
  }

  .hamburger{  
    display: block;
  }

  .change .bar1 {  
   transform: rotate(45deg) translate(8px,3px);
  }

  .change .bar2 {  
   opacity: 0;
  }

  .change .bar3 {  
   transform: rotate(-45deg) translate(8px,-3px);
  }

  /*Mobile Featured Gallery Styling*/
  .featuredgallery {
    display: block;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 1.5rem;
  }
  
  .featured1 {
    grid-column: auto;
    grid-row: auto;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .featured2 {
    grid-column: auto;
    grid-row: auto;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .featured3 {
    grid-column: auto;
    grid-row: auto;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .featured4 {
    grid-column: auto;
    grid-row: auto;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  /*Mobile Cars Gallery Styling*/
  .carsgallery {
    display: block;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 1.5rem;
  }

  .cars1 {
    grid-column: auto;
    grid-row: auto;
    margin-bottom: 15px;
    box-shadow: rgba(140, 187, 191, 0.786) 5px 5px 30px;
  }

  .cars2 {
    grid-column: auto;
    grid-row: auto;
    margin-bottom: 15px;
    box-shadow: rgba(91, 129, 144, 0.902) 5px 5px 30px;
  }

  .cars3 {
    grid-column: auto;
    grid-row: auto;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 30px;
  }

  .cars4 {
    grid-column: auto;
    grid-row: auto;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 30px;
  }

  .cars5 {
    grid-column: auto;
    grid-row: auto;
    margin-bottom: 15px;
    box-shadow: rgba(177, 172, 14, 0.794) 5px 5px 30px;
  }

  .cars6 {
    grid-column: auto;
    grid-row: auto;
    margin-bottom: 15px;
    box-shadow: rgba(10, 242, 18, 0.775) 5px 5px 30px;
  }

  /*Mobile Animals Gallery Styling*/
  .animalsgallery {
    display: block;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 1.5rem;
  }

  .animals1 {
    grid-column: auto;
    grid-row: auto;
    margin-bottom: 15px;
    box-shadow: rgba(77, 55, 30, 0.85) 5px 5px 30px;
  }

  .animals2 {
    grid-column: auto;
    grid-row: auto;
    margin-bottom: 15px;
    box-shadow: rgba(49, 18, 228, 0.85) 5px 5px 30px;
  }

  .animals3 {
    grid-column: auto;
    grid-row: auto;
    margin-bottom: 15px;
    box-shadow: rgba(131, 132, 127, 0.85) 5px 5px 30px;
  }

  .animals4 {
    grid-column: auto;
    grid-row: auto;
    margin-bottom: 15px;
    box-shadow: rgba(102, 77, 50, 0.85) 5px 5px 30px;
  }

  .animals5 {
    grid-column: auto;
    grid-row: auto;
    margin-bottom: 15px;
    box-shadow: rgba(63, 226, 52, 0.936) 5px 5px 30px;
  }

  .animals6 {
    grid-column: auto;
    grid-row: auto;
    margin-bottom: 15px;
    box-shadow: rgba(74, 59, 42, 0.85) 5px 5px 30px;
  }

  .animals7 {
    grid-column: auto;
    grid-row: auto;
    margin-bottom: 15px;
    box-shadow: rgba(230, 183, 130, 0.85) 5px 5px 30px;
  }

  h1 {
    font-size: 3rem;
    letter-spacing: 8px;
  }

  h5 {
    font-size: 1rem;
  }

  footer {
    height: 25px;
  }
}