body {
    margin: 0;
    background-color: #ffffff;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.header {
    display: grid;
    grid-column: 1 / 4;
    grid-row: 1;
    padding-top: 15px;
    padding-left: 5px;
}

.nav {
    display: grid;
    grid-column: 3 / 4;
    grid-row: 1;
}

.nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

a {
    text-decoration: none;
    margin: 0px 10px 0px 10px;
    color: #000000;
}

a:hover {
    color: gold;
}

.logo {
    height: 13vh;
    width: 13vh;
}

main {
    display: grid;
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    text-align: center;
}

footer {
    display: grid;
    grid-column: 1 / 4;
    grid-row: 5 / 5;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
}